body {
    font-family: sans-serif;
    height:100%;
}

h1, h2 {
    font-family: "georgia", sans-serif;
}

  #navbar a {
      float: left;
      display: block;
      background-color: #6b4cf5;
      color: #f2f2f2;
      text-align: center;
      padding: 14px;
      text-decoration: none;
  }

  .footer {
      background-color: #6b4cf5;
      color: #f2f2f2;
  }